<div>
  <br/> 
  <h2><a href="/"><img src="../../assets/logo.png" width="48px" height="48px"> </a>Skillbook v0.13</h2>
  <br/>
  <label>Name:
    <input #SkillName />  </label>
   <label>Skill:
    <input #skillName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(SkillName.value, skillName.value); SkillName.value='';skillName.value=''">
    add
  </button>
</div>
    <br/>
  <h4>Skill Search</h4>
  
  
<input #searchBox id="search-box" (keyup)="searchSkill(searchBox.value)" />
<ul class="skills">
  <li *ngFor="let Skill of skills">
   <span class="badge">dt{{Skill.id}}</span> {{Skill.name}} -  {{Skill.skill}} - <img src="../../assets/like_color.png" width="24px" height="24px" (click)="addPoint(Skill)"> {{Skill.points}}
    <!--<img src="../../assets/like_empty.png" width="24px" height="24px" (click)="addPoint(Skill)">
    <button class="delete" title="add point"
    (click)="addPoint(Skill)">+1</button>
     <button class="delete" title="delete point"
    (click)="deletePoint(Skill)">-1</button>
   -->
  </li>
</ul>
<a href="/"><img src="../../assets/dst.jpg" width="50%"  height="50%"> </a>

